body
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background: url(../assets/img/login_img/background.jpg) repeat;
    background-size: cover;
}
.box
{
    position: absolute;
    top:50%;
    left: 20%;
    transform: translate(-50%,-50%);
    width:460px;
    height: 450px;
    padding: 0 30px;
    background: rgb(255, 255, 255);
    box-sizing : border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.box img
{
    width: 100%;
    margin: 60px 0 30px 0;
}
.box .inputBox
{
    width: 320px;
    padding: 10px 10px;
    font-size: 16px;
    color: #000000;
    letter-spacing: 1px;
    margin: 30px 30px;
    border: 1px solid #000;
    outline: none;
    background: transparent;
    border-radius: 10px;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
    top:-18px;
    left:0;
    color:#03a9f4;
    font-size: 12px;
}
.box input[type="submit"]
{
    border: none;
    outline:none;
    color: #fff;
    margin-left: 30px;
    margin-top: 20px;
    background: #03a9f4;
    padding: 10px 20px;
    cursor:pointer;
    border-radius: 5px;
}